Jealausy2Channel/jealousy2Channel.json
[
    {
        "id": "305c6dd9.7f9612",
        "type": "tab",
        "label": "Übersicht",
        "disabled": false,
        "info": ""
    },
    {
        "id": "951993f4.8206d",
        "type": "tab",
        "label": "Jalousie",
        "disabled": false,
        "info": ""
    },
    {
        "id": "812b0ff61703e7f7",
        "type": "tab",
        "label": "Markise",
        "disabled": false,
        "info": ""
    },
    {
        "id": "62256efe3f7916e8",
        "type": "tab",
        "label": "System",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e918df6115ec9f7",
        "type": "tab",
        "label": "Arduino RX/TX",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ed5bac61b671b26e",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#a9df9c",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#a9df9c",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#a9df9c",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#e3f5de",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#c8d8c4",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#000000",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#c8d8c4",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#a9df9c",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#000000",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#a9df9c",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#a9df9c",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Sun",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "956a7397bc0e915e",
        "type": "ui_group",
        "name": "Datum",
        "tab": "1e63913.b5e0a6f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d90c12143c2e28b4",
        "type": "ui_group",
        "name": "Windschutz",
        "tab": "eaf72d29c27d5532",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6752cf8bb4d6264e",
        "type": "ui_group",
        "name": "Uhrzeit",
        "tab": "1e63913.b5e0a6f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f38a2925ce1a334a",
        "type": "ui_group",
        "name": "Niederschlagschutz",
        "tab": "eaf72d29c27d5532",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "14ea130f6e6b7405",
        "type": "ui_group",
        "name": "Zeitprogramm",
        "tab": "eaf72d29c27d5532",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3a1c8458509d8435",
        "type": "ui_group",
        "name": "Sonnenstand",
        "tab": "eaf72d29c27d5532",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "922b78cb649e46cb",
        "type": "ui_group",
        "name": "Windschutz",
        "tab": "ab9dc87bc4361ffa",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7931605bd60b47a1",
        "type": "ui_group",
        "name": "Niederschlagschutz",
        "tab": "ab9dc87bc4361ffa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "54566316ec606040",
        "type": "ui_group",
        "name": "Zeitprogramm",
        "tab": "ab9dc87bc4361ffa",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d44f1d1e25036908",
        "type": "ui_group",
        "name": "Sonnenstand",
        "tab": "ab9dc87bc4361ffa",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e63913.b5e0a6f",
        "type": "ui_tab",
        "name": "Übersicht",
        "icon": "info",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "eaf72d29c27d5532",
        "type": "ui_tab",
        "name": "Jalousie",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ab9dc87bc4361ffa",
        "type": "ui_tab",
        "name": "Markise",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "73facf39de5e6333",
        "type": "modbus-client",
        "name": "Arduino",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": true,
        "failureLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyACM0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "57600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": false,
        "showLogs": false
    },
    {
        "id": "20f7b488a22475a9",
        "type": "ui_group",
        "name": "Sonnenaufgang",
        "tab": "1e63913.b5e0a6f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "99761ed64a28f273",
        "type": "ui_tab",
        "name": "System",
        "icon": "build",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1a75bd5ce7cf87b7",
        "type": "ui_group",
        "name": "Digital Input",
        "tab": "99761ed64a28f273",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f9a37251258d3239",
        "type": "ui_group",
        "name": "Analog Input",
        "tab": "99761ed64a28f273",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cde3204505e233f9",
        "type": "ui_group",
        "name": "Float numbers",
        "tab": "99761ed64a28f273",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "468662edd902235f",
        "type": "ui_group",
        "name": "Digital Output",
        "tab": "99761ed64a28f273",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "40ef4b80cc4f3c98",
        "type": "ui_group",
        "name": "USB Modbus",
        "tab": "99761ed64a28f273",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "55cfe9a3f630dc38",
        "type": "ui_group",
        "name": "Sonnenhöchststand",
        "tab": "1e63913.b5e0a6f",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "021ba68479d1aae5",
        "type": "ui_group",
        "name": "Sonnenuntergang",
        "tab": "1e63913.b5e0a6f",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "76249244aeb2b0dd",
        "type": "global-config",
        "env": []
    },
    {
        "id": "3797a52c19fd78e4",
        "type": "ui_group",
        "name": "Wetterstation",
        "tab": "1e63913.b5e0a6f",
        "order": 10,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4754ffa1bfc4b9f1",
        "type": "modbus-client",
        "name": "Wetterstation",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyACM1",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "4800",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "1502cb78.076475",
        "type": "ui_text",
        "z": "305c6dd9.7f9612",
        "group": "6752cf8bb4d6264e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1110,
        "y": 360,
        "wires": []
    },
    {
        "id": "7959aa56.013ee4",
        "type": "ui_text",
        "z": "305c6dd9.7f9612",
        "group": "20f7b488a22475a9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1490,
        "y": 480,
        "wires": []
    },
    {
        "id": "c4a1be1.e9dd44",
        "type": "ui_text",
        "z": "305c6dd9.7f9612",
        "group": "55cfe9a3f630dc38",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1470,
        "y": 580,
        "wires": []
    },
    {
        "id": "9072cc52.1ec49",
        "type": "ui_text",
        "z": "305c6dd9.7f9612",
        "group": "021ba68479d1aae5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1490,
        "y": 700,
        "wires": []
    },
    {
        "id": "f0b889f1.a064f8",
        "type": "ui_text",
        "z": "305c6dd9.7f9612",
        "group": "956a7397bc0e915e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1490,
        "y": 780,
        "wires": []
    },
    {
        "id": "feca8d4a.d9a86",
        "type": "timestamp",
        "z": "305c6dd9.7f9612",
        "name": "time",
        "x": 430,
        "y": 360,
        "wires": [
            [
                "19133ae9.fd9765"
            ]
        ]
    },
    {
        "id": "552d5d66.9404f4",
        "type": "inject",
        "z": "305c6dd9.7f9612",
        "name": "intervall 1 sec",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 360,
        "wires": [
            [
                "feca8d4a.d9a86"
            ]
        ]
    },
    {
        "id": "e54ac9d4.de5138",
        "type": "inject",
        "z": "305c6dd9.7f9612",
        "name": "all 60 minutes",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "0 0-2 * * *",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "a93d1eb.c4f22e",
                "37b2c48.5fc853c"
            ]
        ]
    },
    {
        "id": "9a782ceb.a80e4",
        "type": "http request",
        "z": "305c6dd9.7f9612",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 520,
        "wires": [
            [
                "8568dc3c.c337a",
                "b4ef107b.e6375",
                "9802cf79.a5ffa",
                "4b0f1648.1fba38"
            ]
        ]
    },
    {
        "id": "19133ae9.fd9765",
        "type": "function",
        "z": "305c6dd9.7f9612",
        "name": "LocalTime",
        "func": "var timestamp = msg.payload;\nlet time = new Date(timestamp).toLocaleTimeString();\nglobal.set('time', time);\nmsg.payload = flow.get('FontUebersicht') + time;\n\n// timeShort\nvar x = 'text';\nx = time.substring(0,5);\nglobal.set('timeShort', x );\n\n\n// time minute\nvar timeHourText = x.substr(0, 2);\nvar timeMinuteText = x.substr(3, 2);\nvar timeMinuteNumber = Number(timeHourText) * 60 + Number(timeMinuteText);\nglobal.set('TimeMinute', timeMinuteNumber, 'file'); \n\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 360,
        "wires": [
            [
                "1502cb78.076475"
            ]
        ]
    },
    {
        "id": "a93d1eb.c4f22e",
        "type": "function",
        "z": "305c6dd9.7f9612",
        "name": "Get Sunset info",
        "func": "msg.url = \"https://api.sunrise-sunset.org/json?&formatted=0&tzid=Europe/Berlin&lat=53&lng=12\";\nreturn msg;\n\n//https://sunrise-sunset.org/api\n\n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 520,
        "wires": [
            [
                "9a782ceb.a80e4"
            ]
        ]
    },
    {
        "id": "8568dc3c.c337a",
        "type": "function",
        "z": "305c6dd9.7f9612",
        "name": "sunrise",
        "func": "var sunrise = msg.payload.results.sunrise;\nsunrise = sunrise.substr(11,5);\nglobal.set('Sunrise', sunrise);\n\n// sunrise minute\nvar riseHourText = sunrise.substr(0, 2);\nvar riseMinuteText = sunrise.substr(3, 2);\nvar riseMinuteNumber = Number(riseHourText) * 60 + Number(riseMinuteText);\nglobal.set('SunriseMinute', riseMinuteNumber, 'file'); \n\nmsg.payload = flow.get('FontUebersicht') + sunrise;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 480,
        "wires": [
            [
                "7959aa56.013ee4"
            ]
        ]
    },
    {
        "id": "b4ef107b.e6375",
        "type": "function",
        "z": "305c6dd9.7f9612",
        "name": "solar_noon",
        "func": "var solar_noon = msg.payload.results.solar_noon;\nsolar_noon = solar_noon.substr(11, 5);\nglobal.set('solar_noon', solar_noon);\n\n// solar_noonMinute\nvar noonHourText = solar_noon.substr(0, 2);\nvar noonMinuteText = solar_noon.substr(3, 2);\nvar noonMinuteNumber = Number(noonHourText) * 60 + Number(noonMinuteText);\nglobal.set('solar_noonMinute', noonMinuteNumber, 'file');\n\nmsg.payload = flow.get('FontUebersicht') + solar_noon;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 580,
        "wires": [
            [
                "c4a1be1.e9dd44"
            ]
        ]
    },
    {
        "id": "9802cf79.a5ffa",
        "type": "function",
        "z": "305c6dd9.7f9612",
        "name": "sunset",
        "func": "var sunset = msg.payload.results.sunset;\nsunset = sunset.substr(11, 5);\nglobal.set('Sunset', sunset);\n\n// sunset minute\nvar setHourText = sunset.substr(0, 2);\nvar setMinuteText = sunset.substr(3, 2);\nvar setMinuteNumber = Number(setHourText) * 60 + Number(setMinuteText);\nglobal.set('SunsetMinute', setMinuteNumber, 'file'); \n\nmsg.payload = flow.get('FontUebersicht') + sunset;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 700,
        "wires": [
            [
                "9072cc52.1ec49"
            ]
        ]
    },
    {
        "id": "4b0f1648.1fba38",
        "type": "function",
        "z": "305c6dd9.7f9612",
        "name": "date",
        "func": "var date = msg.payload.results.sunset;\nmsg.payload = flow.get('FontUebersicht') + date;\nvar year = date.substr(0,4);\nvar month = date.substr(5,2);\nvar day = date.substr(8,2);\nmsg.payload =flow.get('FontUebersicht') + day+\".\"+month+\".\"+year;\nglobal.set('Datum', day + \".\" + month + \".\" + year);\nglobal.set('date', date.substr(0,4) + \"/\" + date.substr(5,2) + \"/\" + date.substr(8,2));\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 780,
        "wires": [
            [
                "f0b889f1.a064f8"
            ]
        ]
    },
    {
        "id": "37b2c48.5fc853c",
        "type": "function",
        "z": "305c6dd9.7f9612",
        "name": "FontUebersicht",
        "func": "let x = '<font size = 16><font color = blue>';\nflow.set('FontUebersicht', x);\nmsg.payload = x;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "587e9baa.9f8474",
        "type": "comment",
        "z": "305c6dd9.7f9612",
        "name": "Controllino SunShading",
        "info": "user interface for Controllino Jealousy2Channel",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "6f8e4446.74d5fc",
        "type": "comment",
        "z": "305c6dd9.7f9612",
        "name": "Übersicht",
        "info": "",
        "x": 120,
        "y": 100,
        "wires": []
    },
    {
        "id": "b1f1a442.823078",
        "type": "comment",
        "z": "305c6dd9.7f9612",
        "name": "https://flows.nodered.org/flow/195d85a2f5ebfceea78d3f68bd447c0b",
        "info": "",
        "x": 620,
        "y": 620,
        "wires": []
    },
    {
        "id": "e2156b93.57d838",
        "type": "comment",
        "z": "305c6dd9.7f9612",
        "name": "google.maps For example 53 12",
        "info": "",
        "x": 510,
        "y": 660,
        "wires": []
    },
    {
        "id": "8642487cf2ae181a",
        "type": "inject",
        "z": "305c6dd9.7f9612",
        "name": "once",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "8b5746f32bb4f178"
            ]
        ]
    },
    {
        "id": "8b5746f32bb4f178",
        "type": "function",
        "z": "305c6dd9.7f9612",
        "name": "init global Contex",
        "func": "global.set('WindSpeedMax',0.0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "2acdf3fdbfde1b49",
        "type": "ui_text",
        "z": "305c6dd9.7f9612",
        "group": "3797a52c19fd78e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "relative Feuchte",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1300,
        "y": 1360,
        "wires": []
    },
    {
        "id": "0e3d6202eea1c6a5",
        "type": "ui_text",
        "z": "305c6dd9.7f9612",
        "group": "3797a52c19fd78e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Wind direction (0-7 direction)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1300,
        "y": 1180,
        "wires": []
    },
    {
        "id": "ecc7c018d690f91f",
        "type": "ui_text",
        "z": "305c6dd9.7f9612",
        "group": "3797a52c19fd78e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Niederschlag",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1390,
        "y": 1640,
        "wires": []
    },
    {
        "id": "d1a1caa7e41649ca",
        "type": "inject",
        "z": "305c6dd9.7f9612",
        "name": "once",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "a8db3d278c1aca97"
            ]
        ]
    },
    {
        "id": "a8db3d278c1aca97",
        "type": "function",
        "z": "305c6dd9.7f9612",
        "name": "FontUebersicht",
        "func": "global.set('WindSpeedMax',0.0);\n\nflow.set('FontUebersicht', '<font size= 16 > <font color= blue>');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "23fd46812b570b41",
        "type": "comment",
        "z": "305c6dd9.7f9612",
        "name": "Small Weather Station",
        "info": "",
        "x": 780,
        "y": 900,
        "wires": []
    },
    {
        "id": "202d454cd35e2fa1",
        "type": "function",
        "z": "305c6dd9.7f9612",
        "name": "W40501",
        "func": "var x = Math.round(msg.payload[0] * 36) / 100;\nflow.set('W40501', x);\nmsg.payload =  x + ' km/h';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1000,
        "wires": [
            [
                "a46afd7cd54ffab0"
            ]
        ]
    },
    {
        "id": "d632326dbb250b6b",
        "type": "function",
        "z": "305c6dd9.7f9612",
        "name": "W40503",
        "func": "var x = msg.payload[0];\nvar direction = 'Nord';\nif (x === 4) {\n    direction ='Südost';\n}\nif (x === 5) {\n    direction ='Süd';\n}\nif (x === 6) {\n    direction ='Südwest';\n}\nif (x === 7) {\n    direction = 'West';\n}\nif (x === 0) {\n    direction = 'Nordwest';\n}\nif (x === 1) {\n    direction = 'Nord';\n}\nif (x === 2) {\n    direction = 'Nordost';\n}\nif (x === 3) {\n    direction = 'Ost';\n}\nflow.set('W40503', direction);\nmsg.payload = direction;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1180,
        "wires": [
            [
                "0e3d6202eea1c6a5"
            ]
        ]
    },
    {
        "id": "161383393ea76628",
        "type": "function",
        "z": "305c6dd9.7f9612",
        "name": "W40505",
        "func": "var x = Math.round(msg.payload[0] * 10) / 100;\nflow.set('W40505', x);\nmsg.payload = x + ' %';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1360,
        "wires": [
            [
                "2acdf3fdbfde1b49"
            ]
        ]
    },
    {
        "id": "fed0b4e19f3a7a25",
        "type": "function",
        "z": "305c6dd9.7f9612",
        "name": "W40506",
        "func": "var x = Math.round(msg.payload[0] * 10) / 100;\nflow.set('W40506', x);\nmsg.payload = x + ' °C';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1500,
        "wires": [
            [
                "c18bc02ac4fd2613"
            ]
        ]
    },
    {
        "id": "53191cce7ce4d356",
        "type": "delay",
        "z": "305c6dd9.7f9612",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 1000,
        "wires": [
            [
                "944abd4d3ef8de82"
            ]
        ]
    },
    {
        "id": "c3c3a9e3d8359f5a",
        "type": "delay",
        "z": "305c6dd9.7f9612",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 280,
        "y": 1180,
        "wires": [
            [
                "0b81b9b5900f7718"
            ]
        ]
    },
    {
        "id": "ab43441a7d864922",
        "type": "delay",
        "z": "305c6dd9.7f9612",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 1360,
        "wires": [
            [
                "181433fde66bd108"
            ]
        ]
    },
    {
        "id": "dc1c1a96cba303ac",
        "type": "delay",
        "z": "305c6dd9.7f9612",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 280,
        "y": 1500,
        "wires": [
            [
                "b0e716b1309eeb65"
            ]
        ]
    },
    {
        "id": "e3a882d91ff9ac9a",
        "type": "inject",
        "z": "305c6dd9.7f9612",
        "name": "Every 60 seconds",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "4",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 880,
        "wires": [
            [
                "53191cce7ce4d356"
            ]
        ]
    },
    {
        "id": "7304fb812f1c613c",
        "type": "delay",
        "z": "305c6dd9.7f9612",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 1620,
        "wires": [
            [
                "4540612d4a3a612b"
            ]
        ]
    },
    {
        "id": "e493257235c49d32",
        "type": "function",
        "z": "305c6dd9.7f9612",
        "name": "W2Rain",
        "func": "var x = 0;\nvar y = true;\nx = msg.payload[0];\n\nif (x === 1) {\n    y = false;\n}\nif (x === 2) {\n    y = true;\n}\nflow.set('W2Rain', y);\nmsg.payload = y;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1013.1990966796875,
        "y": 1641.2706298828125,
        "wires": [
            [
                "48d5db54e9d7bf98",
                "b616f9a9b388dcb6"
            ]
        ]
    },
    {
        "id": "48d5db54e9d7bf98",
        "type": "function",
        "z": "305c6dd9.7f9612",
        "name": "W2Rain",
        "func": "if (msg.payload) {\n    msg.payload = 'Regen';\n}\nelse {\n    msg.payload = 'Kein Regen';;\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 1640,
        "wires": [
            [
                "ecc7c018d690f91f"
            ]
        ]
    },
    {
        "id": "944abd4d3ef8de82",
        "type": "modbus-getter",
        "z": "305c6dd9.7f9612",
        "name": "40501 Wind speed",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "500",
        "quantity": "2",
        "server": "4754ffa1bfc4b9f1",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 530,
        "y": 1000,
        "wires": [
            [
                "202d454cd35e2fa1"
            ],
            [
                "c3c3a9e3d8359f5a"
            ]
        ]
    },
    {
        "id": "0b81b9b5900f7718",
        "type": "modbus-getter",
        "z": "305c6dd9.7f9612",
        "name": "40503 Wind direction (0-7 direction)",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "502",
        "quantity": "2",
        "server": "4754ffa1bfc4b9f1",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 580,
        "y": 1180,
        "wires": [
            [
                "d632326dbb250b6b"
            ],
            [
                "ab43441a7d864922"
            ]
        ]
    },
    {
        "id": "181433fde66bd108",
        "type": "modbus-getter",
        "z": "305c6dd9.7f9612",
        "name": "40505 Humidity",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "504",
        "quantity": "2",
        "server": "4754ffa1bfc4b9f1",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 520,
        "y": 1360,
        "wires": [
            [
                "161383393ea76628"
            ],
            [
                "dc1c1a96cba303ac"
            ]
        ]
    },
    {
        "id": "b0e716b1309eeb65",
        "type": "modbus-getter",
        "z": "305c6dd9.7f9612",
        "name": "40506 Temperature",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "505",
        "quantity": "2",
        "server": "4754ffa1bfc4b9f1",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 530,
        "y": 1500,
        "wires": [
            [
                "fed0b4e19f3a7a25"
            ],
            [
                "7304fb812f1c613c"
            ]
        ]
    },
    {
        "id": "4540612d4a3a612b",
        "type": "modbus-getter",
        "z": "305c6dd9.7f9612",
        "name": "W2Rain",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "2",
        "quantity": "1",
        "server": "4754ffa1bfc4b9f1",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 460,
        "y": 1620,
        "wires": [
            [
                "e493257235c49d32"
            ],
            []
        ]
    },
    {
        "id": "a46afd7cd54ffab0",
        "type": "ui_text",
        "z": "305c6dd9.7f9612",
        "group": "3797a52c19fd78e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Windgeschwindigkeit",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1320,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c18bc02ac4fd2613",
        "type": "ui_text",
        "z": "305c6dd9.7f9612",
        "group": "3797a52c19fd78e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aussentemperatur",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1270,
        "y": 1500,
        "wires": []
    },
    {
        "id": "20dc0e255be212ef",
        "type": "inject",
        "z": "305c6dd9.7f9612",
        "name": "intervall 1 min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 500,
        "y": 1980,
        "wires": [
            [
                "557ddb23aaa44dbb"
            ]
        ]
    },
    {
        "id": "194ae525aa58d0b2",
        "type": "function",
        "z": "305c6dd9.7f9612",
        "name": "windspeed max HTTP",
        "func": "\n//HTTP\nvar speed = 3.2;\nspeed = msg.payload.FX1*3.6;\nspeed = Math.round(speed*10)/10;\nflow.set('AV_WindMax',speed);\nglobal.set('AV_WindMax', speed);\n\nmsg.payload = speed;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "406e95c0e1441c4f",
        "type": "comment",
        "z": "305c6dd9.7f9612",
        "name": "FX1 Maximale Windböe innerhalb der letzten Stunde",
        "info": "",
        "x": 1070,
        "y": 1900,
        "wires": []
    },
    {
        "id": "557ddb23aaa44dbb",
        "type": "dwdweather",
        "z": "305c6dd9.7f9612",
        "name": "Böblingen",
        "mosmixStation": "K2913",
        "lookAheadHours": "0",
        "additionalFields": "FX1",
        "omitMessageOnStart": true,
        "repeat": "0",
        "topic": "",
        "x": 753,
        "y": 1978,
        "wires": [
            [
                "194ae525aa58d0b2"
            ]
        ]
    },
    {
        "id": "b616f9a9b388dcb6",
        "type": "rbe",
        "z": "305c6dd9.7f9612",
        "name": "Blockieren bis Werteänderung",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 1090,
        "y": 1800,
        "wires": [
            [
                "b00813fdddfb1bf4"
            ]
        ]
    },
    {
        "id": "b00813fdddfb1bf4",
        "type": "function",
        "z": "305c6dd9.7f9612",
        "name": "Log W2Rain",
        "func": "var x = msg.payload;\n\nif (x) {\n  msg.payload = global.get('date') + \" \" + global.get('time') + \",\" + \"Wetterstation,\" + \"Niederschlag,\" + \"Regen\";  \n}\nif (!x) {\n  msg.payload = global.get('date') + \" \" + global.get('time') + \",\" + \"Wetterstation,\" + \"Niederschlag,\" + \"Kein Regen\";\n}\n\n\n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "fb02598f4dbffe55",
        "type": "ui_text",
        "z": "951993f4.8206d",
        "group": "3a1c8458509d8435",
        "order": 3,
        "width": "",
        "height": "",
        "name": "Sunrise",
        "label": "Sonnenaufgang",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1120,
        "y": 2600,
        "wires": []
    },
    {
        "id": "70a94d3ae8b5d1e9",
        "type": "ui_text",
        "z": "951993f4.8206d",
        "group": "3a1c8458509d8435",
        "order": 4,
        "width": "",
        "height": "",
        "name": "solar_noon",
        "label": "Sonnenhöchststand",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1130,
        "y": 2660,
        "wires": []
    },
    {
        "id": "fe7b4a395757bfca",
        "type": "ui_text",
        "z": "951993f4.8206d",
        "group": "3a1c8458509d8435",
        "order": 5,
        "width": "",
        "height": "",
        "name": "sunset",
        "label": "Sonnenuntergang",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1130,
        "y": 2720,
        "wires": []
    },
    {
        "id": "4298c354cc677249",
        "type": "ui_text",
        "z": "951993f4.8206d",
        "group": "3a1c8458509d8435",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "timeShort",
        "label": "Uhrzeit",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1140,
        "y": 2500,
        "wires": []
    },
    {
        "id": "89dc178a57615118",
        "type": "ui_dropdown",
        "z": "951993f4.8206d",
        "name": "",
        "label": "Windschutz",
        "tooltip": "Windschutz",
        "place": "Select option",
        "group": "d90c12143c2e28b4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "nicht aktiv",
                "value": false,
                "type": "bool"
            },
            {
                "label": "aktiv",
                "value": true,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 810,
        "y": 200,
        "wires": [
            [
                "bf465e27.4fc6a"
            ]
        ]
    },
    {
        "id": "8b55b3f20bb6c3d4",
        "type": "ui_slider",
        "z": "951993f4.8206d",
        "name": "AI_speedHighLimit",
        "label": "Grenzwert in km/h",
        "tooltip": "Grenzwert Windgeschwindigkeit",
        "group": "d90c12143c2e28b4",
        "order": 3,
        "width": "",
        "height": "",
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "70",
        "step": "5",
        "className": "",
        "x": 830,
        "y": 440,
        "wires": [
            [
                "c17ab526119a92dd"
            ]
        ]
    },
    {
        "id": "6ae826241c391281",
        "type": "ui_text",
        "z": "951993f4.8206d",
        "group": "d90c12143c2e28b4",
        "order": 6,
        "width": "",
        "height": "",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 870,
        "y": 700,
        "wires": []
    },
    {
        "id": "6e9a1a2b3cabbb63",
        "type": "ui_gauge",
        "z": "951993f4.8206d",
        "name": "Windgeschwindigkeit",
        "group": "d90c12143c2e28b4",
        "order": 2,
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "Maximale Windböe innerhalb der letzten Stunde",
        "label": "",
        "format": "{{value}}km/h",
        "min": "0.0",
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 980,
        "y": 600,
        "wires": []
    },
    {
        "id": "4c8767dc2180b4f7",
        "type": "ui_dropdown",
        "z": "951993f4.8206d",
        "name": "",
        "label": "Niederschlagschutz",
        "tooltip": "Niederschlagschutz",
        "place": "Select option",
        "group": "f38a2925ce1a334a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "nicht aktiv",
                "value": false,
                "type": "bool"
            },
            {
                "label": "aktiv",
                "value": true,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 710,
        "y": 960,
        "wires": [
            [
                "53b6edee4ac8d11f"
            ]
        ]
    },
    {
        "id": "b6e08105ffd85c3c",
        "type": "ui_text",
        "z": "951993f4.8206d",
        "group": "f38a2925ce1a334a",
        "order": 7,
        "width": "",
        "height": "",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 890,
        "y": 1460,
        "wires": []
    },
    {
        "id": "c744852d3c7ff422",
        "type": "ui_text",
        "z": "951993f4.8206d",
        "group": "f38a2925ce1a334a",
        "order": 2,
        "width": "",
        "height": "",
        "name": "Regen",
        "label": "Regen",
        "format": "{{msg.payload}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 870,
        "y": 1320,
        "wires": []
    },
    {
        "id": "1e868a064385f86b",
        "type": "ui_text",
        "z": "951993f4.8206d",
        "group": "14ea130f6e6b7405",
        "order": "6",
        "width": "",
        "height": "",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 790,
        "y": 2100,
        "wires": []
    },
    {
        "id": "2bc7a08f249fc8d7",
        "type": "ui_dropdown",
        "z": "951993f4.8206d",
        "name": "",
        "label": "Zeitprogramm",
        "tooltip": "Zeitprogramm",
        "place": "Select option",
        "group": "14ea130f6e6b7405",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "nicht aktiv",
                "value": false,
                "type": "bool"
            },
            {
                "label": "aktiv",
                "value": true,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 580,
        "y": 1720,
        "wires": [
            [
                "2c11e35583775d53"
            ]
        ]
    },
    {
        "id": "b9799eb32f04ac87",
        "type": "ui_time_scheduler",
        "z": "951993f4.8206d",
        "group": "14ea130f6e6b7405",
        "name": "Zeitprogramm",
        "startDay": "1",
        "refresh": 60,
        "devices": [
            "Jalausie"
        ],
        "singleOff": false,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "53",
        "lon": "12",
        "customContextStore": "",
        "outputs": 2,
        "order": 1,
        "width": 0,
        "height": 0,
        "x": 620,
        "y": 1900,
        "wires": [
            [
                "7c5940da12f89b36"
            ],
            [
                "219f03c9e1f11c70"
            ]
        ]
    },
    {
        "id": "db8e62b9.cf8df",
        "type": "inject",
        "z": "951993f4.8206d",
        "name": "2s timestamp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 700,
        "wires": [
            [
                "f40e5390.8246b",
                "b6b25b22.db7dc8"
            ]
        ]
    },
    {
        "id": "4ce02a2f.e3c5c4",
        "type": "inject",
        "z": "951993f4.8206d",
        "name": "2s timestamp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 133,
        "y": 1466,
        "wires": [
            [
                "4a3651bd.bc95a",
                "74cfbb95.afb0a4"
            ]
        ]
    },
    {
        "id": "3c5859c503158d11",
        "type": "inject",
        "z": "951993f4.8206d",
        "name": "Once a time string",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "27431193110e4851",
                "7893c1f60ad744ce"
            ]
        ]
    },
    {
        "id": "bda4baf44a13c310",
        "type": "inject",
        "z": "951993f4.8206d",
        "name": "Once a time string",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 1000,
        "wires": [
            [
                "14b41ce8835d7af2"
            ]
        ]
    },
    {
        "id": "36d16c3a5aab4b43",
        "type": "inject",
        "z": "951993f4.8206d",
        "name": "Once a time string",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 1720,
        "wires": [
            [
                "fed9a2e527260790"
            ]
        ]
    },
    {
        "id": "dce06dceb3e068e8",
        "type": "inject",
        "z": "951993f4.8206d",
        "name": "2s string",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 100,
        "y": 2100,
        "wires": [
            [
                "e90bd963b62853aa"
            ]
        ]
    },
    {
        "id": "ff0b0927286ed943",
        "type": "inject",
        "z": "951993f4.8206d",
        "name": "2s string",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 180,
        "y": 2500,
        "wires": [
            [
                "b55d5bd0809e199b",
                "eafe9327d838895d",
                "040167c1f3a41820",
                "7978eb876d8fdc16"
            ]
        ]
    },
    {
        "id": "eddf23553aaf616a",
        "type": "inject",
        "z": "951993f4.8206d",
        "name": "2s string",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "empty",
        "payloadType": "str",
        "x": 240,
        "y": 3180,
        "wires": [
            [
                "d284cf309b29ad04"
            ]
        ]
    },
    {
        "id": "5a10f12b49835624",
        "type": "inject",
        "z": "951993f4.8206d",
        "name": "once",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "4ba9a9524f485de9"
            ]
        ]
    },
    {
        "id": "cb7b164418cb4fd9",
        "type": "inject",
        "z": "951993f4.8206d",
        "name": "FireAfterReboot",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1900,
        "wires": [
            [
                "b847da37993ea459"
            ]
        ]
    },
    {
        "id": "f40e5390.8246b",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "AI_windSpeed",
        "func": "msg.payload = Number(global.get('AV_WindMax'));\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 600,
        "wires": [
            [
                "6e9a1a2b3cabbb63"
            ]
        ]
    },
    {
        "id": "bf465e27.4fc6a",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "BV_WindMeasureActive",
        "func": "flow.set('BV_WindMeasureActive', msg.payload);\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "b6b25b22.db7dc8",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "Calculate BV_WindAlarm",
        "func": "var alarm = false;\nvar active = flow.get('BV_WindMeasureActive');\nif (global.get('AV_WindMax') <= flow.get('AI_speedHighLimit')) {\n    alarm = false;\n}\nelse {\n    alarm = true;\n}\n\nif (alarm && active) {\n    msg.payload = '<font size = 16><font color = red>' + 'Alarm';\n    global.set('BV_WindAlarm1', true);\n}\nif (!alarm && active) {\n    msg.payload = '<font size = 16><font color = green>' + 'Kein Alarm';\n    global.set('BV_WindAlarm1', false);\n}\nif (!active) {\n    msg.payload = '<font size = 16><font color = grey>' + 'Windschutz Funktion nicht aktiv!';\n    global.set('BV_WindAlarm1', false);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 700,
        "wires": [
            [
                "6ae826241c391281"
            ]
        ]
    },
    {
        "id": "4a3651bd.bc95a",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "W2Rain",
        "func": "var rain = global.get('W2Rain');\nif (rain) {\n  msg.payload = flow.get('FontUebersicht') + \"Regen\" ;\n} \nelse {\n  msg.payload = \"Kein Regen\" ;\n}\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1320,
        "wires": [
            [
                "c744852d3c7ff422"
            ]
        ]
    },
    {
        "id": "74cfbb95.afb0a4",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "Calculate BV_RainAlarm",
        "func": "var active = flow.get('BV_RainActive');\nvar alarm = global.get('W2Rain');\n\n\nif (alarm && active) {\n    msg.payload = '<font size = 16><font color = red>' + 'Alarm';\n    global.set('BV_RainAlarm1', true);\n}\nif (!alarm && active) {\n    msg.payload = '<font size = 16><font color = green>' + 'Kein Alarm';\n    global.set('BV_RainAlarm1', false);\n}\nif (!active) {\n    msg.payload = 'Niederschlagschutz Funktion nicht aktiv!';\n    global.set('BV_RainAlarm1', false);\n}\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1460,
        "wires": [
            [
                "b6e08105ffd85c3c"
            ]
        ]
    },
    {
        "id": "c17ab526119a92dd",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "AI_speedHighLimit",
        "func": "flow.set('AI_speedHighLimit', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "53b6edee4ac8d11f",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "BV_RainActive",
        "func": "flow.set('BV_RainActive', msg.payload);\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "2c11e35583775d53",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "BV_ScheduleActive",
        "func": "flow.set('BV_ScheduleActive', msg.payload);\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "7893c1f60ad744ce",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "flow.get",
        "func": "msg.payload = flow.get('AI_speedHighLimit');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 440,
        "wires": [
            [
                "8b55b3f20bb6c3d4"
            ]
        ]
    },
    {
        "id": "27431193110e4851",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "flow.get",
        "func": "msg.payload = flow.get('BV_WindMeasureActive');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 200,
        "wires": [
            [
                "89dc178a57615118"
            ]
        ]
    },
    {
        "id": "14b41ce8835d7af2",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "flow.get",
        "func": "\nmsg.payload = flow.get('BV_RainActive');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 960,
        "wires": [
            [
                "4c8767dc2180b4f7"
            ]
        ]
    },
    {
        "id": "fed9a2e527260790",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "flow.get",
        "func": "msg.payload = flow.get('BV_ScheduleActive');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1720,
        "wires": [
            [
                "2bc7a08f249fc8d7"
            ]
        ]
    },
    {
        "id": "e90bd963b62853aa",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "Calculate' BV_Schedule",
        "func": "var x = flow.get('BO_ScheduleOutDown');\nvar y = false;\nvar active = flow.get('BV_ScheduleActive');\n\n// Schedule calcuculate\nif (x && active) {\n    y = true;\n    msg.payload ='<font size = 16><font color = blue>' + 'Unten';    \n} \nif ( !x && active) {\n    y = false;\n    msg.payload ='<font size = 16><font color = blue>' + 'Oben'; \n} \n// not active\nif (!active) {\n    y = false;\n    msg.payload ='Funktion nicht aktiv!'; \n}\nflow.set('BV_Schedule', y );\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2100,
        "wires": [
            [
                "1e868a064385f86b"
            ]
        ]
    },
    {
        "id": "eafe9327d838895d",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "Sunrise",
        "func": "msg.payload = '<font color= blue>' + global.get('Sunrise');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 2600,
        "wires": [
            [
                "fb02598f4dbffe55"
            ]
        ]
    },
    {
        "id": "040167c1f3a41820",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "solar_noon",
        "func": "msg.payload = '<font color= blue>' + global.get('solar_noon');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 2660,
        "wires": [
            [
                "70a94d3ae8b5d1e9"
            ]
        ]
    },
    {
        "id": "7978eb876d8fdc16",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "Sunset",
        "func": "msg.payload = '<font color= blue>' + global.get('Sunset');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 2720,
        "wires": [
            [
                "fe7b4a395757bfca"
            ]
        ]
    },
    {
        "id": "b55d5bd0809e199b",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "timeShort",
        "func": "msg.payload = '<font color= blue>' + global.get('timeShort');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 2500,
        "wires": [
            [
                "4298c354cc677249"
            ]
        ]
    },
    {
        "id": "4ba9a9524f485de9",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "init flow Contex",
        "func": "global.set('BV_RainAlarmOld1',false);\nglobal.set('BV_WindAlarmOld1',false);\n\nflow.set('StampDown', Date.now());\nflow.set('StampUp', Date.now());\nflow.set('DurationDown', Date.now());\nflow.set('DurationUp', Date.now());\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d284cf309b29ad04",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "50000CHANNEL1UP and 50001CHANNEL1DOWN",
        "func": "// 50000CHANNEL1UP       y101->Up\n// 50001CHANNEL1DOWN     y102 -> Down\n\nvar stampUp = flow.get('StampUp');\nvar stampDown = flow.get('StampDown');\nvar durationDown = Date.now() - stampDown;\nflow.set('DurationDown', durationDown);           //Flow variable for debuging\nvar durationUp = Date.now() - stampUp;\nflow.set('DurationUp', durationUp);               //Flow variable for debuging\nvar time1 = 10000; // ms\nvar time2 = 70000; // ms\nvar time3 = 7200000; // ms 2 hours\n\n// alarm expression\nvar alarm1 = global.get('BV_RainAlarm1');\nvar alarm2 = global.get('BV_WindAlarm1');\nvar active = flow.get('BV_ScheduleActive'); // relinquish default down\n\n// schedule  expression\nvar x = flow.get('BV_Schedule');\n\n// Down function\nif ((x && !alarm1 && !alarm2) || (!active && !alarm1 && !alarm2 )) {\n     flow.set('StampUp', Date.now()); // Timestamp for up !!!!\n     // wait 10s\n     stampDown = flow.get('StampDown');\n     \n     if (durationDown < time1) {\n          global.set('50000CHANNEL1UP', false);\n          global.set('50001CHANNEL1DOWN', false);  \n     }\n     if (durationDown < time2 && durationDown > time1) {\n          global.set('50000CHANNEL1UP', false);\n          global.set('50001CHANNEL1DOWN', true); \n     }\n     if (durationDown < time3 && durationDown > time2) {\n          global.set('50000CHANNEL1UP', false);\n          global.set('50001CHANNEL1DOWN', false); \n     } \n     flow.set('StampUp', Date.now());   // Timestamp for up  \n     return msg;  \n}\n//Up function\nelse {\n     flow.set('StampDown', Date.now()); // Timestamp for down !!!!\n      //wait 10s\n     stampUp = Number(flow.get('StampUp'));\n     if (durationUp < time1) {\n          global.set('50000CHANNEL1UP', false);\n          global.set('50001CHANNEL1DOWN', false);\n     }\n     if (durationUp < time2 && durationUp > time1) {\n          global.set('50000CHANNEL1UP', true);\n          global.set('50001CHANNEL1DOWN', false); \n     }\n     // wait 60s Motorlaufzeit\n     if (durationUp < time3 && durationUp > time2) {\n          global.set('50000CHANNEL1UP', false);\n          global.set('50001CHANNEL1DOWN', false); \n     }\n     // wait 2h repeat alarm\n     if (durationUp > time3 && (alarm1 || alarm2)) {\n         flow.set('StampUp', Date.now())\n     }\n     flow.set('StampDown', Date.now()); // Timestamp for down\n     return msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 3180,
        "wires": [
            []
        ]
    },
    {
        "id": "219f03c9e1f11c70",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "BO_ScheduleOutDown",
        "func": "\nflow.set('BO_ScheduleOutDown', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "b847da37993ea459",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "flow.get Schedule text",
        "func": "msg.payload = flow.get('Schedule');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1900,
        "wires": [
            [
                "b9799eb32f04ac87"
            ]
        ]
    },
    {
        "id": "7c5940da12f89b36",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "flow.set Schedule text",
        "func": "flow.set('Schedule',msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "7fd6493.2450cb8",
        "type": "comment",
        "z": "951993f4.8206d",
        "name": "Windgeschwindigkeit",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "46859144.bb458",
        "type": "comment",
        "z": "951993f4.8206d",
        "name": "Flow BV_WindAlarm",
        "info": "",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "33d74c4b.ae43c4",
        "type": "comment",
        "z": "951993f4.8206d",
        "name": "Niederschlag",
        "info": "",
        "x": 90,
        "y": 900,
        "wires": []
    },
    {
        "id": "b46322d1.aa8b8",
        "type": "comment",
        "z": "951993f4.8206d",
        "name": "Flow BV_RainAlarm",
        "info": "",
        "x": 270,
        "y": 900,
        "wires": []
    },
    {
        "id": "eb0dd29ce97b80c6",
        "type": "comment",
        "z": "951993f4.8206d",
        "name": "Zeitprogramm",
        "info": "",
        "x": 150,
        "y": 1620,
        "wires": []
    },
    {
        "id": "907fbbe8fb385804",
        "type": "comment",
        "z": "951993f4.8206d",
        "name": "Flow BV_Schedule",
        "info": "",
        "x": 430,
        "y": 1620,
        "wires": []
    },
    {
        "id": "e3b88b233b314d75",
        "type": "comment",
        "z": "951993f4.8206d",
        "name": "Sonnenstand",
        "info": "",
        "x": 110,
        "y": 2320,
        "wires": []
    },
    {
        "id": "129f90178c35d299",
        "type": "comment",
        "z": "951993f4.8206d",
        "name": "Flow BV_Sun",
        "info": "",
        "x": 370,
        "y": 2320,
        "wires": []
    },
    {
        "id": "43328a7ab1222bd6",
        "type": "comment",
        "z": "951993f4.8206d",
        "name": "Motor",
        "info": "",
        "x": 210,
        "y": 3080,
        "wires": []
    },
    {
        "id": "9e5fe1e3a9153e1e",
        "type": "comment",
        "z": "951993f4.8206d",
        "name": "repeat alarm",
        "info": "",
        "x": 490,
        "y": 3080,
        "wires": []
    },
    {
        "id": "7fcd61c67dd4c6f8",
        "type": "comment",
        "z": "951993f4.8206d",
        "name": "Remote Controll is in Controllino -programm",
        "info": "",
        "x": 810,
        "y": 3080,
        "wires": []
    },
    {
        "id": "4b8baf48c4e8536a",
        "type": "comment",
        "z": "951993f4.8206d",
        "name": "### This scenario is permanent and requires a file to read an write to ###",
        "info": "",
        "x": 420,
        "y": 1840,
        "wires": []
    },
    {
        "id": "525bee5ce4d02de1",
        "type": "inject",
        "z": "951993f4.8206d",
        "name": "once",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "d6162f796adf415b"
            ]
        ]
    },
    {
        "id": "d6162f796adf415b",
        "type": "function",
        "z": "951993f4.8206d",
        "name": "FontUebersicht",
        "func": "global.set('WindSpeedMax',0.0);\n\nflow.set('FontUebersicht', '<font size= 16 > <font color= blue>');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "172586c9207a92f1",
        "type": "ui_text",
        "z": "812b0ff61703e7f7",
        "group": "d44f1d1e25036908",
        "order": 3,
        "width": "",
        "height": "",
        "name": "Sunrise",
        "label": "Sonnenaufgang",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1180,
        "y": 2580,
        "wires": []
    },
    {
        "id": "9e213c702958ec26",
        "type": "ui_text",
        "z": "812b0ff61703e7f7",
        "group": "d44f1d1e25036908",
        "order": 4,
        "width": "",
        "height": "",
        "name": "solar_noon",
        "label": "Sonnenhöchststand",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1190,
        "y": 2640,
        "wires": []
    },
    {
        "id": "1c55a260b132d7bf",
        "type": "ui_text",
        "z": "812b0ff61703e7f7",
        "group": "d44f1d1e25036908",
        "order": 5,
        "width": "",
        "height": "",
        "name": "sunset",
        "label": "Sonnenuntergang",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1190,
        "y": 2700,
        "wires": []
    },
    {
        "id": "68fdea41ca3e0641",
        "type": "ui_text",
        "z": "812b0ff61703e7f7",
        "group": "d44f1d1e25036908",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "timeShort",
        "label": "Uhrzeit",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1200,
        "y": 2480,
        "wires": []
    },
    {
        "id": "25b1b894a48e3bf2",
        "type": "ui_dropdown",
        "z": "812b0ff61703e7f7",
        "name": "",
        "label": "Windschutz",
        "tooltip": "Windschutz",
        "place": "Select option",
        "group": "922b78cb649e46cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "nicht aktiv",
                "value": false,
                "type": "bool"
            },
            {
                "label": "aktiv",
                "value": true,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 870,
        "y": 180,
        "wires": [
            [
                "bab64d9eba152799"
            ]
        ]
    },
    {
        "id": "741369cfd20e27fd",
        "type": "ui_slider",
        "z": "812b0ff61703e7f7",
        "name": "AI_speedHighLimit",
        "label": "Grenzwert in km/h",
        "tooltip": "Grenzwert Windgeschwindigkeit",
        "group": "922b78cb649e46cb",
        "order": 3,
        "width": "",
        "height": "",
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "70",
        "step": "5",
        "className": "",
        "x": 890,
        "y": 420,
        "wires": [
            [
                "54816ad47bc195fb"
            ]
        ]
    },
    {
        "id": "5c62157421290e0c",
        "type": "ui_text",
        "z": "812b0ff61703e7f7",
        "group": "922b78cb649e46cb",
        "order": 6,
        "width": "",
        "height": "",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 930,
        "y": 680,
        "wires": []
    },
    {
        "id": "24eced0b58833e21",
        "type": "ui_gauge",
        "z": "812b0ff61703e7f7",
        "name": "Windgeschwindigkeit",
        "group": "922b78cb649e46cb",
        "order": 2,
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "Maximale Windböe innerhalb der letzten Stunde",
        "label": "",
        "format": "{{value}}km/h",
        "min": "0.0",
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 580,
        "wires": []
    },
    {
        "id": "e2ce4dc2ccdacda0",
        "type": "ui_dropdown",
        "z": "812b0ff61703e7f7",
        "name": "",
        "label": "Niederschlagschutz",
        "tooltip": "Niederschlagschutz",
        "place": "Select option",
        "group": "7931605bd60b47a1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "nicht aktiv",
                "value": false,
                "type": "bool"
            },
            {
                "label": "aktiv",
                "value": true,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 770,
        "y": 940,
        "wires": [
            [
                "367cb92b2d79bd32"
            ]
        ]
    },
    {
        "id": "86b4fc456df659cc",
        "type": "ui_text",
        "z": "812b0ff61703e7f7",
        "group": "7931605bd60b47a1",
        "order": 7,
        "width": "",
        "height": "",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 950,
        "y": 1440,
        "wires": []
    },
    {
        "id": "26dc52f825f655f3",
        "type": "ui_text",
        "z": "812b0ff61703e7f7",
        "group": "7931605bd60b47a1",
        "order": 2,
        "width": "",
        "height": "",
        "name": "Regen",
        "label": "Regen",
        "format": "{{msg.payload}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 930,
        "y": 1300,
        "wires": []
    },
    {
        "id": "20116d7eecc7092f",
        "type": "ui_text",
        "z": "812b0ff61703e7f7",
        "group": "54566316ec606040",
        "order": "6",
        "width": "",
        "height": "",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 850,
        "y": 2080,
        "wires": []
    },
    {
        "id": "26aabd60a0f582ec",
        "type": "ui_dropdown",
        "z": "812b0ff61703e7f7",
        "name": "",
        "label": "Zeitprogramm",
        "tooltip": "Zeitprogramm",
        "place": "Select option",
        "group": "54566316ec606040",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "nicht aktiv",
                "value": false,
                "type": "bool"
            },
            {
                "label": "aktiv",
                "value": true,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 640,
        "y": 1700,
        "wires": [
            [
                "685dfa3db9df0719"
            ]
        ]
    },
    {
        "id": "b7fb27923978e574",
        "type": "ui_time_scheduler",
        "z": "812b0ff61703e7f7",
        "group": "54566316ec606040",
        "name": "Zeitprogramm",
        "startDay": "1",
        "refresh": 60,
        "devices": [
            "Markise"
        ],
        "singleOff": false,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "53",
        "lon": "12",
        "customContextStore": "",
        "outputs": 2,
        "order": 1,
        "width": 0,
        "height": 0,
        "x": 680,
        "y": 1880,
        "wires": [
            [
                "dd07788ddb279555"
            ],
            [
                "2f61f626b4ee63db"
            ]
        ]
    },
    {
        "id": "43e72043c9993124",
        "type": "inject",
        "z": "812b0ff61703e7f7",
        "name": "2s timestamp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 680,
        "wires": [
            [
                "38c629de0f29cc95",
                "d6046c7587566508"
            ]
        ]
    },
    {
        "id": "09af83db0bb6db60",
        "type": "inject",
        "z": "812b0ff61703e7f7",
        "name": "2s timestamp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 193,
        "y": 1446,
        "wires": [
            [
                "c4f028f35190a1fb",
                "82e4f9eb11577a92"
            ]
        ]
    },
    {
        "id": "13eb15dcac3e1996",
        "type": "inject",
        "z": "812b0ff61703e7f7",
        "name": "Once a time string",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "f9fd86fa68a48ab1",
                "5ad82ce1184fccf8"
            ]
        ]
    },
    {
        "id": "17b83e3054704697",
        "type": "inject",
        "z": "812b0ff61703e7f7",
        "name": "Once a time string",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 980,
        "wires": [
            [
                "953ddafe792c8fc7"
            ]
        ]
    },
    {
        "id": "a84ed30e696883ab",
        "type": "inject",
        "z": "812b0ff61703e7f7",
        "name": "Once a time string",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 190,
        "y": 1700,
        "wires": [
            [
                "ecbf0eff383ad1e4"
            ]
        ]
    },
    {
        "id": "692a2ee0924eaf02",
        "type": "inject",
        "z": "812b0ff61703e7f7",
        "name": "2s string",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 2080,
        "wires": [
            [
                "9b7b41ed3d971049"
            ]
        ]
    },
    {
        "id": "01510e6768fcca96",
        "type": "inject",
        "z": "812b0ff61703e7f7",
        "name": "2s string",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 240,
        "y": 2480,
        "wires": [
            [
                "8e01f7515883a04c",
                "c38298ef6c2bf8ed",
                "9af9a5e8bc3d0522",
                "3ac2db1eb701ae6b"
            ]
        ]
    },
    {
        "id": "fdfe15768a65f785",
        "type": "inject",
        "z": "812b0ff61703e7f7",
        "name": "2s string",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "empty",
        "payloadType": "str",
        "x": 300,
        "y": 3160,
        "wires": [
            [
                "03dc47beb2b0a080"
            ]
        ]
    },
    {
        "id": "98d304b591342eed",
        "type": "inject",
        "z": "812b0ff61703e7f7",
        "name": "once",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "8fa4ddcfb20e6ae3"
            ]
        ]
    },
    {
        "id": "f3958e09abed889b",
        "type": "inject",
        "z": "812b0ff61703e7f7",
        "name": "FireAfterReboot",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1880,
        "wires": [
            [
                "e55f8b81eed546ae"
            ]
        ]
    },
    {
        "id": "38c629de0f29cc95",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "AI_windSpeed",
        "func": "msg.payload = Number(global.get('AV_WindMax'));\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 580,
        "wires": [
            [
                "24eced0b58833e21"
            ]
        ]
    },
    {
        "id": "bab64d9eba152799",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "BV_WindMeasureActive",
        "func": "flow.set('BV_WindMeasureActive', msg.payload);\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "c4f028f35190a1fb",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "W2Rain",
        "func": "var rain = global.get('W2Rain');\nif (rain == 1) {\n  msg.payload = \"Regen\" ;\n} \nelse {\n  msg.payload = \"Kein Regen\" ;\n}\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1300,
        "wires": [
            [
                "26dc52f825f655f3"
            ]
        ]
    },
    {
        "id": "82e4f9eb11577a92",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "Calculate BV_RainAlarm",
        "func": "\nvar active = flow.get('BV_RainActive');\nvar alarm = global.get('W2Rain');\n\nif (alarm && active) {\n    msg.payload = '<font size = 16><font color = red>' + 'Alarm';\n    global.set('BV_RainAlarm2', true);\n}\nif (!alarm && active) {\n    msg.payload = '<font size = 16><font color = green>' + 'Kein Alarm';\n    global.set('BV_RainAlarm2', false);\n}\nif (!active) {\n    msg.payload = 'Niederschlagschutz Funktion nicht aktiv!';\n    global.set('BV_RainAlarm2', false);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1440,
        "wires": [
            [
                "86b4fc456df659cc"
            ]
        ]
    },
    {
        "id": "54816ad47bc195fb",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "AI_speedHighLimit",
        "func": "flow.set('AI_speedHighLimit', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "367cb92b2d79bd32",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "BV_RainActive",
        "func": "flow.set('BV_RainActive', msg.payload);\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "685dfa3db9df0719",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "BV_ScheduleActive",
        "func": "flow.set('BV_ScheduleActive', msg.payload);\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "5ad82ce1184fccf8",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "flow.get",
        "func": "msg.payload = flow.get('AI_speedHighLimit');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 420,
        "wires": [
            [
                "741369cfd20e27fd"
            ]
        ]
    },
    {
        "id": "f9fd86fa68a48ab1",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "flow.get",
        "func": "msg.payload = flow.get('BV_WindMeasureActive');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 180,
        "wires": [
            [
                "25b1b894a48e3bf2"
            ]
        ]
    },
    {
        "id": "953ddafe792c8fc7",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "flow.get",
        "func": "\nmsg.payload = flow.get('BV_RainActive');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 940,
        "wires": [
            [
                "e2ce4dc2ccdacda0"
            ]
        ]
    },
    {
        "id": "ecbf0eff383ad1e4",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "flow.get",
        "func": "msg.payload = flow.get('BV_ScheduleActive');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1700,
        "wires": [
            [
                "26aabd60a0f582ec"
            ]
        ]
    },
    {
        "id": "9b7b41ed3d971049",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "Calculate' BV_Schedule",
        "func": "var x = flow.get('BO_ScheduleOutDown');\nvar y = false;\nvar active = flow.get('BV_ScheduleActive');\n\n// Schedule calcuculate\nif (x && active) {\n    y = true;\n    msg.payload ='<font size = 16><font color = blue>' + 'Unten';    \n} \nif ( !x && active) {\n    y = false;\n    msg.payload ='<font size = 16><font color = blue>' + 'Oben'; \n} \n// not active\nif (!active) {\n    y = false;\n    msg.payload ='Funktion nicht aktiv!'; \n}\nflow.set('BV_Schedule', y );\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 2080,
        "wires": [
            [
                "20116d7eecc7092f"
            ]
        ]
    },
    {
        "id": "c38298ef6c2bf8ed",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "Sunrise",
        "func": "msg.payload = '<font color= blue>' + global.get('Sunrise');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 2580,
        "wires": [
            [
                "172586c9207a92f1"
            ]
        ]
    },
    {
        "id": "9af9a5e8bc3d0522",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "solar_noon",
        "func": "msg.payload = '<font color= blue>' + global.get('solar_noon');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 2640,
        "wires": [
            [
                "9e213c702958ec26"
            ]
        ]
    },
    {
        "id": "3ac2db1eb701ae6b",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "Sunset",
        "func": "msg.payload = '<font color= blue>' + global.get('Sunset');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 2700,
        "wires": [
            [
                "1c55a260b132d7bf"
            ]
        ]
    },
    {
        "id": "8e01f7515883a04c",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "timeShort",
        "func": "msg.payload = '<font color= blue>' + global.get('timeShort');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 2480,
        "wires": [
            [
                "68fdea41ca3e0641"
            ]
        ]
    },
    {
        "id": "8fa4ddcfb20e6ae3",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "init flow Contex",
        "func": "global.set('BV_RainAlarmOld1',false);\nglobal.set('BV_WindAlarmOld1',false);\n\nflow.set('StampDown', Date.now());\nflow.set('StampUp', Date.now());\nflow.set('DurationDown', Date.now());\nflow.set('DurationUp', Date.now());\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "03dc47beb2b0a080",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "50002CHANNEL2UP and 50003CHANNEL2DOWN",
        "func": "// 50002CHANNEL1UP       y101->Up\n// 50003CHANNEL1DOWN     y102 -> Down\n\nvar stampUp = flow.get('StampUp');\nvar stampDown = flow.get('StampDown');\nvar durationDown = Date.now() - stampDown;\nvar durationUp = Date.now() - stampUp;\nflow.set('DurationDown', durationDown);           //Flow variable for debuging\nflow.set('DurationUp', durationUp);               //Flow variable for debuging\nvar time1 = 10000; // ms\nvar time2 = 70000; // ms\nvar time3 = 7200000; // ms 2 hours\n\n// alarm expression\nvar alarm1 = global.get('BV_RainAlarm2');\nvar alarm2 = global.get('BV_WindAlarm2');\n\n// schedule  expression\nvar x = flow.get('BV_Schedule');\n\n// Down function\nif (x && !alarm1 && !alarm2) {\n     flow.set('StampUp', Date.now()); // Timestamp for up !!!!\n     // wait 10s\n     stampDown = flow.get('StampDown');\n     \n     if (durationDown < time1) {\n          global.set('50002CHANNEL2UP', false); \n          global.set('50003CHANNEL2DOWN', false);\n     }\n     if (durationDown < time2 && durationDown > time1) {\n          global.set('50002CHANNEL2UP', false);\n          global.set('50003CHANNEL2DOWN', true); \n     }\n     if (durationDown < time3 && durationDown > time2) {\n          global.set('50002CHANNEL2UP', false); \n          global.set('50003CHANNEL2DOWN', false);\n     } \n     flow.set('StampUp', Date.now());   // Timestamp for up  \n     return msg;  \n}\n//Up function\nelse {\n     flow.set('StampDown', Date.now()); // Timestamp for down !!!!\n      //wait 10s\n     stampUp = Number(flow.get('StampUp'));\n     if (durationUp < time1) {\n          global.set('50002CHANNEL2UP', false);\n          global.set('50003CHANNEL2DOWN', false);\n     }\n     if (durationUp < time2 && durationUp > time1) {\n          global.set('50002CHANNEL2UP', true);\n          global.set('50003CHANNEL2DOWN', false);\n     }\n     // wait 60s Motorlaufzeit\n     if (durationUp < time3 && durationUp > time2) {\n          global.set('50002CHANNEL2UP', false);\n          global.set('50003CHANNEL2DOWN', false);\n     }\n     // wait 2h repeat alarm\n     if (durationUp > time3 && (alarm1 || alarm2)) {\n         flow.set('StampUp', Date.now())\n     }\n     flow.set('StampDown', Date.now()); // Timestamp for down\n     return msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 3160,
        "wires": [
            []
        ]
    },
    {
        "id": "2f61f626b4ee63db",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "BO_ScheduleOutDown",
        "func": "\nflow.set('BO_ScheduleOutDown', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "e55f8b81eed546ae",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "flow.get Schedule text",
        "func": "msg.payload = flow.get('Schedule');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1880,
        "wires": [
            [
                "b7fb27923978e574"
            ]
        ]
    },
    {
        "id": "dd07788ddb279555",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "flow.set Schedule text",
        "func": "flow.set('Schedule',msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "d6046c7587566508",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "Calculate BV_WindAlarm",
        "func": "var alarm = false;\nvar active = flow.get('BV_WindMeasureActive');\nif (global.get('AV_WindMax') <= flow.get('AI_speedHighLimit')) {\n    alarm = false;\n}\nelse {\n    alarm = true;\n}\n\nif (alarm && active) {\n    msg.payload = '<font size = 16><font color = red>' + 'Alarm';\n    global.set('BV_WindAlarm2', true);\n}\nif (!alarm && active) {\n    msg.payload = '<font size = 16><font color = green>' + 'Kein Alarm';\n    global.set('BV_WindAlarm2', false);\n}\nif (!active) {\n    msg.payload = 'Windschutz Funktion nicht aktiv!';\n    global.set('BV_WindAlarm2', false);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 680,
        "wires": [
            [
                "5c62157421290e0c"
            ]
        ]
    },
    {
        "id": "4dc541783e54557c",
        "type": "comment",
        "z": "812b0ff61703e7f7",
        "name": "Windgeschwindigkeit",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "4103ccc4bb990fc8",
        "type": "comment",
        "z": "812b0ff61703e7f7",
        "name": "Flow BV_WindAlarm",
        "info": "",
        "x": 430,
        "y": 40,
        "wires": []
    },
    {
        "id": "b1ee2fc0ea7c1e12",
        "type": "comment",
        "z": "812b0ff61703e7f7",
        "name": "Niederschlag",
        "info": "",
        "x": 150,
        "y": 880,
        "wires": []
    },
    {
        "id": "94e0556694c18a9e",
        "type": "comment",
        "z": "812b0ff61703e7f7",
        "name": "Flow BV_RainAlarm",
        "info": "",
        "x": 330,
        "y": 880,
        "wires": []
    },
    {
        "id": "7210f9469e16ebdb",
        "type": "comment",
        "z": "812b0ff61703e7f7",
        "name": "Zeitprogramm",
        "info": "",
        "x": 210,
        "y": 1600,
        "wires": []
    },
    {
        "id": "39dc6f5cee7444a6",
        "type": "comment",
        "z": "812b0ff61703e7f7",
        "name": "Flow BV_Schedule",
        "info": "",
        "x": 490,
        "y": 1600,
        "wires": []
    },
    {
        "id": "20d3c16895d75048",
        "type": "comment",
        "z": "812b0ff61703e7f7",
        "name": "Sonnenstand",
        "info": "",
        "x": 170,
        "y": 2300,
        "wires": []
    },
    {
        "id": "fa4750c0de386e71",
        "type": "comment",
        "z": "812b0ff61703e7f7",
        "name": "Flow BV_Sun",
        "info": "",
        "x": 430,
        "y": 2300,
        "wires": []
    },
    {
        "id": "a74745623b131293",
        "type": "comment",
        "z": "812b0ff61703e7f7",
        "name": "Motor",
        "info": "",
        "x": 250,
        "y": 2960,
        "wires": []
    },
    {
        "id": "9fa90126d28c2d04",
        "type": "comment",
        "z": "812b0ff61703e7f7",
        "name": "repeat alarm",
        "info": "",
        "x": 510,
        "y": 2960,
        "wires": []
    },
    {
        "id": "cdcf63bc8d9dd475",
        "type": "comment",
        "z": "812b0ff61703e7f7",
        "name": "Remote Controll is in Controllino -programm",
        "info": "",
        "x": 850,
        "y": 2960,
        "wires": []
    },
    {
        "id": "e2f5c8656158957d",
        "type": "comment",
        "z": "812b0ff61703e7f7",
        "name": "### This scenario is permanent and requires a file to read an write to ###",
        "info": "",
        "x": 480,
        "y": 1820,
        "wires": []
    },
    {
        "id": "8c022bf1ebf52dc5",
        "type": "inject",
        "z": "812b0ff61703e7f7",
        "name": "once",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 157.1990966796875,
        "y": 129.20614624023438,
        "wires": [
            [
                "0c275d373adb32c3"
            ]
        ]
    },
    {
        "id": "0c275d373adb32c3",
        "type": "function",
        "z": "812b0ff61703e7f7",
        "name": "FontUebersicht",
        "func": "global.set('WindSpeedMax',0.0);\n\nflow.set('FontUebersicht', '<font size= 16 > <font color= blue>');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 417.1990966796875,
        "y": 129.20614624023438,
        "wires": [
            []
        ]
    },
    {
        "id": "d81b1c08d0ba18c0",
        "type": "ui_text",
        "z": "62256efe3f7916e8",
        "group": "1a75bd5ce7cf87b7",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "00DI_RC_Channel1Up",
        "label": "00DI_RC_Channel1Up",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 980,
        "y": 340,
        "wires": []
    },
    {
        "id": "d45d18ea4aa4d312",
        "type": "ui_text",
        "z": "62256efe3f7916e8",
        "group": "1a75bd5ce7cf87b7",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "01DI_RC_Channel1Down",
        "label": "01DI_RC_Channel1Down",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 970,
        "y": 460,
        "wires": []
    },
    {
        "id": "be950e418f441973",
        "type": "ui_text",
        "z": "62256efe3f7916e8",
        "group": "1a75bd5ce7cf87b7",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "02DI_RC_Channel2Up",
        "label": "02DI_RC_Channel2Up",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 960,
        "y": 600,
        "wires": []
    },
    {
        "id": "7234b67b6424c34f",
        "type": "ui_text",
        "z": "62256efe3f7916e8",
        "group": "1a75bd5ce7cf87b7",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "03DI_RC_Channel2Down",
        "label": "03DI_RC_Channel2Down",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 970,
        "y": 760,
        "wires": []
    },
    {
        "id": "79d97c704ef7974c",
        "type": "modbus-getter",
        "z": "62256efe3f7916e8",
        "name": "FC 2: Read Input Status",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "10",
        "dataType": "Input",
        "adr": "0",
        "quantity": "10",
        "server": "73facf39de5e6333",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 350,
        "y": 340,
        "wires": [
            [
                "6028cf4d6c76717c",
                "c9524b55a3a3e697",
                "a2c6039a5df2bd3f",
                "bb259ca671c75c63",
                "910824bf273e74a6",
                "308a88e9e8cbada2",
                "e99efa674d9531ae"
            ],
            []
        ]
    },
    {
        "id": "82be648be914d7ff",
        "type": "ui_text",
        "z": "62256efe3f7916e8",
        "group": "1a75bd5ce7cf87b7",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": " 06IN0_Wind",
        "label": " 06IN0_Wind",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 930,
        "y": 860,
        "wires": []
    },
    {
        "id": "2e6a934406b21f89",
        "type": "ui_text",
        "z": "62256efe3f7916e8",
        "group": "1a75bd5ce7cf87b7",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": " 07IN1_Rain",
        "label": " 07IN1_Rain",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 930,
        "y": 920,
        "wires": []
    },
    {
        "id": "32876fa5c1a62c36",
        "type": "modbus-getter",
        "z": "62256efe3f7916e8",
        "name": "FC 2: Read Input Registers",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "10",
        "dataType": "InputRegister",
        "adr": "4",
        "quantity": "2",
        "server": "73facf39de5e6333",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 440,
        "y": 1160,
        "wires": [
            [
                "3a9ae9ebf2cc27eb",
                "6b2e0456853bc52f",
                "2c572695f57bd937"
            ],
            []
        ]
    },
    {
        "id": "f0859342c8d88cb7",
        "type": "ui_text",
        "z": "62256efe3f7916e8",
        "group": "f9a37251258d3239",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "04_CONTROLLINO_A4",
        "label": "04_CONTROLLINO_A4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1070,
        "y": 1220,
        "wires": []
    },
    {
        "id": "6ab19bc00823e1f3",
        "type": "ui_text",
        "z": "62256efe3f7916e8",
        "group": "f9a37251258d3239",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "05_CONTROLLINO_A5",
        "label": "05_CONTROLLINO_A5",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1070,
        "y": 1280,
        "wires": []
    },
    {
        "id": "84dd3f11a5d39a38",
        "type": "ui_text",
        "z": "62256efe3f7916e8",
        "group": "cde3204505e233f9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "WindSpeedMax",
        "label": "WindSpeedMax",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1320,
        "y": 1520,
        "wires": []
    },
    {
        "id": "775a904826a6bbdd",
        "type": "modbus-read",
        "z": "62256efe3f7916e8",
        "name": "10s",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "10",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "2",
        "rate": "10",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "73facf39de5e6333",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 1520,
        "wires": [
            [
                "4afab454b4cd7755"
            ],
            []
        ]
    },
    {
        "id": "4afab454b4cd7755",
        "type": "buffer-parser",
        "z": "62256efe3f7916e8",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Voltage",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 410,
        "y": 1520,
        "wires": [
            [
                "44261d4bf6b45d10",
                "e2e6246d7c493ecd"
            ]
        ]
    },
    {
        "id": "61ec9e3e7b2e9f64",
        "type": "ui_dropdown",
        "z": "62256efe3f7916e8",
        "name": "",
        "label": "50000D0CHANNEL1UP ",
        "tooltip": "50000D0CHANNEL1UP",
        "place": "",
        "group": "468662edd902235f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "false",
                "value": false,
                "type": "bool"
            },
            {
                "label": "true",
                "value": true,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 730,
        "y": 1780,
        "wires": [
            [
                "0b615076f3371663",
                "e4ee14dffdb636f3"
            ]
        ]
    },
    {
        "id": "0b615076f3371663",
        "type": "modbus-write",
        "z": "62256efe3f7916e8",
        "name": "Modbus Write 0",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "10",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "73facf39de5e6333",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1020,
        "y": 1780,
        "wires": [
            [
                "8272315bd1da8e31"
            ],
            []
        ]
    },
    {
        "id": "8c5688fdad2b6673",
        "type": "ui_dropdown",
        "z": "62256efe3f7916e8",
        "name": "",
        "label": "50001CHANNEL1DOWN",
        "tooltip": "50001CHANNEL1DOWN",
        "place": "",
        "group": "468662edd902235f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "false",
                "value": false,
                "type": "bool"
            },
            {
                "label": "true",
                "value": true,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 830,
        "y": 1940,
        "wires": [
            [
                "665f787fc65839bb",
                "5a157c74839219a8"
            ]
        ]
    },
    {
        "id": "665f787fc65839bb",
        "type": "modbus-write",
        "z": "62256efe3f7916e8",
        "name": "Modbus Write 1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "10",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "1",
        "server": "73facf39de5e6333",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1080,
        "y": 1940,
        "wires": [
            [
                "8272315bd1da8e31"
            ],
            []
        ]
    },
    {
        "id": "9d03cedeb0777bb1",
        "type": "ui_dropdown",
        "z": "62256efe3f7916e8",
        "name": "",
        "label": "50002D0CHANNEL2UP",
        "tooltip": "50002D0CHANNEL2UP",
        "place": "",
        "group": "468662edd902235f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "false",
                "value": false,
                "type": "bool"
            },
            {
                "label": "true",
                "value": true,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 830,
        "y": 2100,
        "wires": [
            [
                "e57fc0f29bc385e8",
                "2df41d3c6202e297"
            ]
        ]
    },
    {
        "id": "e57fc0f29bc385e8",
        "type": "modbus-write",
        "z": "62256efe3f7916e8",
        "name": "Modbus Write 2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "10",
        "dataType": "Coil",
        "adr": "2",
        "quantity": "1",
        "server": "73facf39de5e6333",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1080,
        "y": 2100,
        "wires": [
            [
                "8272315bd1da8e31"
            ],
            []
        ]
    },
    {
        "id": "896c58bccb1d161b",
        "type": "ui_dropdown",
        "z": "62256efe3f7916e8",
        "name": "",
        "label": "50003CHANNEL2DOWN",
        "tooltip": "50003CHANNEL2DOWN",
        "place": "",
        "group": "468662edd902235f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "false",
                "value": false,
                "type": "bool"
            },
            {
                "label": "true",
                "value": true,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 830,
        "y": 2260,
        "wires": [
            [
                "fa0caf2031125923",
                "6c3dd8b198bc6380"
            ]
        ]
    },
    {
        "id": "fa0caf2031125923",
        "type": "modbus-write",
        "z": "62256efe3f7916e8",
        "name": "Modbus Write 3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "10",
        "dataType": "Coil",
        "adr": "3",
        "quantity": "1",
        "server": "73facf39de5e6333",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1180,
        "y": 2260,
        "wires": [
            [
                "8272315bd1da8e31"
            ],
            []
        ]
    },
    {
        "id": "b84d4eb043b1da41",
        "type": "ui_dropdown",
        "z": "62256efe3f7916e8",
        "name": "",
        "label": "50004WindLED                                ",
        "tooltip": "50004WindLED                      ",
        "place": "",
        "group": "468662edd902235f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "false",
                "value": false,
                "type": "bool"
            },
            {
                "label": "true",
                "value": true,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 780,
        "y": 2400,
        "wires": [
            [
                "b2ca440b5dc5ad6b",
                "20879040e202239c"
            ]
        ]
    },
    {
        "id": "b2ca440b5dc5ad6b",
        "type": "modbus-write",
        "z": "62256efe3f7916e8",
        "name": "Modbus Write 4",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "10",
        "dataType": "Coil",
        "adr": "4",
        "quantity": "1",
        "server": "73facf39de5e6333",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1000,
        "y": 2400,
        "wires": [
            [
                "8272315bd1da8e31"
            ],
            []
        ]
    },
    {
        "id": "503314c31c8a024b",
        "type": "ui_dropdown",
        "z": "62256efe3f7916e8",
        "name": "",
        "label": "50005RainLED                                                ",
        "tooltip": "50005RainLED                    ",
        "place": "",
        "group": "468662edd902235f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "false",
                "value": false,
                "type": "bool"
            },
            {
                "label": "true",
                "value": true,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 780,
        "y": 2540,
        "wires": [
            [
                "15881aeb720ff50b",
                "55c46059cf9a08ac"
            ]
        ]
    },
    {
        "id": "15881aeb720ff50b",
        "type": "modbus-write",
        "z": "62256efe3f7916e8",
        "name": "Modbus Write 5",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "10",
        "dataType": "Coil",
        "adr": "5",
        "quantity": "1",
        "server": "73facf39de5e6333",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1020,
        "y": 2540,
        "wires": [
            [
                "8272315bd1da8e31"
            ],
            []
        ]
    },
    {
        "id": "e99efa674d9531ae",
        "type": "link out",
        "z": "62256efe3f7916e8",
        "name": "RX",
        "mode": "link",
        "links": [
            "e4b8737bf24b5634"
        ],
        "x": 665,
        "y": 280,
        "wires": []
    },
    {
        "id": "2c572695f57bd937",
        "type": "link out",
        "z": "62256efe3f7916e8",
        "name": "RX",
        "mode": "link",
        "links": [
            "e4b8737bf24b5634"
        ],
        "x": 685,
        "y": 1060,
        "wires": []
    },
    {
        "id": "44261d4bf6b45d10",
        "type": "link out",
        "z": "62256efe3f7916e8",
        "name": "RX",
        "mode": "link",
        "links": [
            "e4b8737bf24b5634"
        ],
        "x": 590.0055541992188,
        "y": 1442.1416015625,
        "wires": []
    },
    {
        "id": "8272315bd1da8e31",
        "type": "link out",
        "z": "62256efe3f7916e8",
        "name": "TX",
        "mode": "link",
        "links": [
            "21289d175c310c66"
        ],
        "x": 1428.650634765625,
        "y": 2261.1416015625,
        "wires": []
    },
    {
        "id": "e37e54e8f7e1a16b",
        "type": "inject",
        "z": "62256efe3f7916e8",
        "name": "Every2second",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "79d97c704ef7974c"
            ]
        ]
    },
    {
        "id": "664c5efce5851ccb",
        "type": "inject",
        "z": "62256efe3f7916e8",
        "name": "Every 2 second",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1160,
        "wires": [
            [
                "32876fa5c1a62c36"
            ]
        ]
    },
    {
        "id": "92b6eb1e1378227c",
        "type": "inject",
        "z": "62256efe3f7916e8",
        "name": "every2seconds",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 2160,
        "wires": [
            [
                "78b79b9b3d98e43c",
                "a7a44bdab3f337a6",
                "5365fcc5b47abaf2",
                "b3233375a075920a",
                "4c7bbad7039387aa",
                "2ba9d8bf891dbec5"
            ]
        ]
    },
    {
        "id": "e6850585a0c8395b",
        "type": "inject",
        "z": "62256efe3f7916e8",
        "name": "Set Filter time 120s",
        "props": [
            {
                "p": "filterTime",
                "v": "3600",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 710,
        "y": 1380,
        "wires": [
            [
                "41337e2a1c963412"
            ]
        ]
    },
    {
        "id": "6028cf4d6c76717c",
        "type": "function",
        "z": "62256efe3f7916e8",
        "name": "00DI_RC_Channel1Up",
        "func": "// https://github.com/CMB27/ModbusRTUSlave/blob/main/examples/ModbusRTUSlaveExample/ModbusRTUSlaveExample.ino \nglobal.set('00DI_RC_Channel1Up', msg.payload[0]);\nmsg.payload = flow.get('FontUebersicht') + global.get('00DI_RC_Channel1Up');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 340,
        "wires": [
            [
                "d81b1c08d0ba18c0"
            ]
        ]
    },
    {
        "id": "c9524b55a3a3e697",
        "type": "function",
        "z": "62256efe3f7916e8",
        "name": "01DI_RC_Channel1Down",
        "func": "global.set('01DI_RC_Channel1Down', msg.payload[1]);\nmsg.payload = flow.get('FontUebersicht') + global.get('01DI_RC_Channel1Down');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 460,
        "wires": [
            [
                "d45d18ea4aa4d312"
            ]
        ]
    },
    {
        "id": "a2c6039a5df2bd3f",
        "type": "function",
        "z": "62256efe3f7916e8",
        "name": "02DI_RC_Channel2Up",
        "func": "global.set('02DI_RC_Channel2Up', msg.payload[2]);\nmsg.payload = flow.get('FontUebersicht') + global.get('02DI_RC_Channel2Up');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 600,
        "wires": [
            [
                "be950e418f441973"
            ]
        ]
    },
    {
        "id": "bb259ca671c75c63",
        "type": "function",
        "z": "62256efe3f7916e8",
        "name": "03DI_RC_Channel2Down",
        "func": "global.set('03DI_RC_Channel2Down', msg.payload[3]);\nmsg.payload = flow.get('FontUebersicht') + global.get('03DI_RC_Channel2Down');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 760,
        "wires": [
            [
                "7234b67b6424c34f"
            ]
        ]
    },
    {
        "id": "910824bf273e74a6",
        "type": "function",
        "z": "62256efe3f7916e8",
        "name": "06IN0_Wind",
        "func": "global.set('06IN0_Wind', msg.payload[6]);\nmsg.payload = flow.get('FontUebersicht') + global.get('06IN0_Wind');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 860,
        "wires": [
            [
                "82be648be914d7ff"
            ]
        ]
    },
    {
        "id": "308a88e9e8cbada2",
        "type": "function",
        "z": "62256efe3f7916e8",
        "name": "07IN1_Rain",
        "func": "global.set('07IN1_Rain', msg.payload[7]);\nmsg.payload = flow.get('FontUebersicht') + global.get('07IN1_Rain');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 920,
        "wires": [
            [
                "2e6a934406b21f89"
            ]
        ]
    },
    {
        "id": "3a9ae9ebf2cc27eb",
        "type": "function",
        "z": "62256efe3f7916e8",
        "name": "04_CONTROLLINO_A4",
        "func": "msg.payload = flow.get('FontUebersicht') + msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1220,
        "wires": [
            [
                "f0859342c8d88cb7"
            ]
        ]
    },
    {
        "id": "6b2e0456853bc52f",
        "type": "function",
        "z": "62256efe3f7916e8",
        "name": "05_CONTROLLINO_A5",
        "func": "msg.payload = flow.get('FontUebersicht') + msg.payload[1];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1280,
        "wires": [
            [
                "6ab19bc00823e1f3"
            ]
        ]
    },
    {
        "id": "e71b3635d9b53b6f",
        "type": "function",
        "z": "62256efe3f7916e8",
        "name": "WindSpeedMax",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100;\nglobal.set('WindSpeedMax',msg.payload);\nmsg.payload = flow.get('FontUebersicht') + msg.payload+ ' km/h';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 1520,
        "wires": [
            [
                "84dd3f11a5d39a38"
            ]
        ]
    },
    {
        "id": "78b79b9b3d98e43c",
        "type": "function",
        "z": "62256efe3f7916e8",
        "name": "50000CHANNEL1UP",
        "func": "var x = global.get('50000CHANNEL1UP');\nmsg.payload = x;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 1780,
        "wires": [
            [
                "e4ee14dffdb636f3"
            ]
        ]
    },
    {
        "id": "a7a44bdab3f337a6",
        "type": "function",
        "z": "62256efe3f7916e8",
        "name": "50001CHANNEL1DOWN",
        "func": "var x = global.get('50001CHANNEL1DOWN');\n msg.payload = x;\n return msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1940,
        "wires": [
            [
                "5a157c74839219a8"
            ]
        ]
    },
    {
        "id": "5365fcc5b47abaf2",
        "type": "function",
        "z": "62256efe3f7916e8",
        "name": "50002CHANNEL2UP",
        "func": "var x = global.get('50002CHANNEL2UP');\nmsg.payload = x;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 2100,
        "wires": [
            [
                "2df41d3c6202e297"
            ]
        ]
    },
    {
        "id": "b3233375a075920a",
        "type": "function",
        "z": "62256efe3f7916e8",
        "name": "50003CHANNEL2DOWN",
        "func": "var x = global.get('50003CHANNEL2DOWN');\n msg.payload = x;\n return msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 2260,
        "wires": [
            [
                "6c3dd8b198bc6380"
            ]
        ]
    },
    {
        "id": "4c7bbad7039387aa",
        "type": "function",
        "z": "62256efe3f7916e8",
        "name": "50004WindLED",
        "func": "var x1 = global.get('BV_WindAlarm1');\nvar x2 = global.get('BV_WindAlarm2');\nvar x = x1 || x2;\nglobal.set('50004WindLED', x);\nmsg.payload = x;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 2400,
        "wires": [
            [
                "20879040e202239c"
            ]
        ]
    },
    {
        "id": "2ba9d8bf891dbec5",
        "type": "function",
        "z": "62256efe3f7916e8",
        "name": "50005RainLED",
        "func": "var x1 = global.get('BV_RainAlarm1');\nvar x2 = global.get('BV_RainAlarm2');\nvar x = x1 || x2;\nglobal.set('50005RainLED', x);\nmsg.payload = x;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 2540,
        "wires": [
            [
                "55c46059cf9a08ac"
            ]
        ]
    },
    {
        "id": "e2e6246d7c493ecd",
        "type": "function",
        "z": "62256efe3f7916e8",
        "name": "30000windSpeed",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1520,
        "wires": [
            [
                "41337e2a1c963412"
            ]
        ]
    },
    {
        "id": "41337e2a1c963412",
        "type": "function",
        "z": "62256efe3f7916e8",
        "name": "max 1h",
        "func": "// determines the time weighted average, max and min of all payload values passed in\n// over the specified time range passed to node by msg.filterTime in seconds\n// developed from Code posted by Colin to Node_red Forum \n//     https://discourse.nodered.org/t/nodes-suggestion-for-timed-rolling-average-and-desynchronised-sum/4933/26 by Colin\n\nif (typeof msg.filterTime == 'number') {\n    flow.set('filterTime', msg.filterTime);\n    node.warn(`Filter Time set to: ${msg.filterTime} seconds`);\n    msg = null;\n} else if (typeof msg.payload == 'number') {\n    let filterTime = flow.get('filterTime') || 60 // in seconds\n    const range = filterTime * 1000; // window time millisecs\n    let buffer = flow.get('buffer') || [];\n    let now = new Date();\n    let lastTimestamp = flow.get(\"lastTimestamp\") || now;\n    let value = Number(msg.payload);\n    // remove any samples that are too old\n    // @ts-ignore\n    while (buffer[0] && buffer[0].timestamp < now - range) {\n        // remove oldest sample from array and total\n        //node.warn(`removing oldest ${buffer[0].timestamp}`);\n        lastTimestamp = buffer[0].timestamp;\n        buffer.shift();\n    }\n    flow.set('lastTimestamp', lastTimestamp);\n\n    // add the new sample to the end\n    buffer.push({\n        timestamp: now,\n        value: value\n    });\n    // @ts-ignore\n    let duration = (now - lastTimestamp); // difference between latest sample and oldest\n    // now calculate Average, max and min\n    let max = value;\n    let min = value;\n    let ave = 0;\n    for (var i in buffer) {\n        max = Math.max(max, buffer[i].value);\n        min = Math.min(min, buffer[i].value);\n        ave += buffer[i].value * (buffer[i].timestamp - lastTimestamp);\n        lastTimestamp = buffer[i].timestamp;\n    }\n    ave = ave / duration;\n\n    flow.set('buffer', buffer);\n    //flow.set('total', total);\n    msg.payload = max;\n    msg.result = {\n        average: ave,\n        max: max,\n        min: min\n    };\n    node.status({ text: `${buffer.length}` });\n    //node.warn(`length: ${buffer.length}, average: ${ave}, min: ${min}, max: ${max} over ${duration/1000} seconds`);\n\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1520,
        "wires": [
            [
                "e71b3635d9b53b6f"
            ]
        ]
    },
    {
        "id": "d5d7f648da0d0b5b",
        "type": "comment",
        "z": "62256efe3f7916e8",
        "name": "Digital Input",
        "info": "",
        "x": 290,
        "y": 180,
        "wires": []
    },
    {
        "id": "df86b0ecf6067a8c",
        "type": "comment",
        "z": "62256efe3f7916e8",
        "name": "Analog Input",
        "info": "",
        "x": 210,
        "y": 1020,
        "wires": []
    },
    {
        "id": "4342042cc7da0f58",
        "type": "comment",
        "z": "62256efe3f7916e8",
        "name": "Floating Numbers",
        "info": "",
        "x": 270.1990966796875,
        "y": 1406.2706298828125,
        "wires": []
    },
    {
        "id": "dedcc080acd542c0",
        "type": "comment",
        "z": "62256efe3f7916e8",
        "name": "Digital Output",
        "info": "",
        "x": 260.1990966796875,
        "y": 1674.1416015625,
        "wires": []
    },
    {
        "id": "05a3942e511ee8eb",
        "type": "comment",
        "z": "62256efe3f7916e8",
        "name": "Maximale Windböe innerhalb der letzten Stunde",
        "info": "",
        "x": 880,
        "y": 1580,
        "wires": []
    },
    {
        "id": "20879040e202239c",
        "type": "rbe",
        "z": "62256efe3f7916e8",
        "name": "Blockieren bis Werteänderung",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 550,
        "y": 2400,
        "wires": [
            [
                "b84d4eb043b1da41"
            ]
        ]
    },
    {
        "id": "55c46059cf9a08ac",
        "type": "rbe",
        "z": "62256efe3f7916e8",
        "name": "Blockieren bis Werteänderung",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 550,
        "y": 2540,
        "wires": [
            [
                "503314c31c8a024b"
            ]
        ]
    },
    {
        "id": "6c3dd8b198bc6380",
        "type": "rbe",
        "z": "62256efe3f7916e8",
        "name": "Blockieren bis Werteänderung",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 550,
        "y": 2260,
        "wires": [
            [
                "896c58bccb1d161b"
            ]
        ]
    },
    {
        "id": "2df41d3c6202e297",
        "type": "rbe",
        "z": "62256efe3f7916e8",
        "name": "Blockieren bis Werteänderung",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 550,
        "y": 2100,
        "wires": [
            [
                "9d03cedeb0777bb1"
            ]
        ]
    },
    {
        "id": "5a157c74839219a8",
        "type": "rbe",
        "z": "62256efe3f7916e8",
        "name": "Blockieren bis Werteänderung",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 570,
        "y": 1940,
        "wires": [
            [
                "8c5688fdad2b6673"
            ]
        ]
    },
    {
        "id": "e4ee14dffdb636f3",
        "type": "rbe",
        "z": "62256efe3f7916e8",
        "name": "Blockieren bis Werteänderung",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 450,
        "y": 1780,
        "wires": [
            [
                "61ec9e3e7b2e9f64"
            ]
        ]
    },
    {
        "id": "f578092d8af7aa05",
        "type": "inject",
        "z": "62256efe3f7916e8",
        "name": "once",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "f79be623ea928d4e"
            ]
        ]
    },
    {
        "id": "f79be623ea928d4e",
        "type": "function",
        "z": "62256efe3f7916e8",
        "name": "FontUebersicht",
        "func": "global.set('WindSpeedMax',0.0);\n\nflow.set('FontUebersicht', '<font size= 16 > <font color= blue>');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "490e4dba2e1b0840",
        "type": "ui_switch",
        "z": "0e918df6115ec9f7",
        "name": "",
        "label": "RX Empfange Daten",
        "tooltip": "RX Empfange Daten",
        "group": "40ef4b80cc4f3c98",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "wb_sunny",
        "oncolor": "SlateBlue",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "wb_sunny",
        "offcolor": "Gainsboro",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "bd170c6438497d57",
        "type": "ui_switch",
        "z": "0e918df6115ec9f7",
        "name": "",
        "label": "TX Semde Daten",
        "tooltip": "TX Semde Daten",
        "group": "40ef4b80cc4f3c98",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "wb_sunny",
        "oncolor": "SlateBlue",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "wb_sunny",
        "offcolor": "Gainsboro",
        "animate": false,
        "className": "",
        "x": 933.1990966796875,
        "y": 442.2061462402344,
        "wires": [
            []
        ]
    },
    {
        "id": "59e702745a4b4db6",
        "type": "trigger",
        "z": "0e918df6115ec9f7",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 500,
        "y": 260,
        "wires": [
            [
                "490e4dba2e1b0840"
            ]
        ]
    },
    {
        "id": "e03f08627317f02f",
        "type": "trigger",
        "z": "0e918df6115ec9f7",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 680,
        "y": 440,
        "wires": [
            [
                "bd170c6438497d57"
            ]
        ]
    },
    {
        "id": "e4b8737bf24b5634",
        "type": "link in",
        "z": "0e918df6115ec9f7",
        "name": "link in 2",
        "links": [
            "2c572695f57bd937",
            "44261d4bf6b45d10",
            "e99efa674d9531ae"
        ],
        "x": 315,
        "y": 260,
        "wires": [
            [
                "59e702745a4b4db6"
            ]
        ]
    },
    {
        "id": "21289d175c310c66",
        "type": "link in",
        "z": "0e918df6115ec9f7",
        "name": "link in 3",
        "links": [
            "8272315bd1da8e31"
        ],
        "x": 315,
        "y": 420,
        "wires": [
            [
                "e03f08627317f02f"
            ]
        ]
    },
    {
        "id": "1b74cd4dbeca1c86",
        "type": "comment",
        "z": "0e918df6115ec9f7",
        "name": "RX",
        "info": "",
        "x": 310,
        "y": 320,
        "wires": []
    },
    {
        "id": "47f52ec385b663d2",
        "type": "comment",
        "z": "0e918df6115ec9f7",
        "name": "TX",
        "info": "",
        "x": 310,
        "y": 480,
        "wires": []
    },
    {
        "id": "b96d66d262a97fe9",
        "type": "inject",
        "z": "0e918df6115ec9f7",
        "name": "once",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70.1990966796875,
        "y": 43.206146240234375,
        "wires": [
            [
                "4feea8a8f88d056c"
            ]
        ]
    },
    {
        "id": "4feea8a8f88d056c",
        "type": "function",
        "z": "0e918df6115ec9f7",
        "name": "FontUebersicht",
        "func": "global.set('WindSpeedMax',0.0);\n\nflow.set('FontUebersicht', '<font size= 16 > <font color= blue>');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330.1990966796875,
        "y": 43.206146240234375,
        "wires": [
            []
        ]
    }
]